{% url 'home' as path_to_home %}
{% url 'projects:dashboard' as path_to_dashboard %}
{% url 'account_login' as path_to_login %}
{% url 'projects:new-project' as path_to_new_project %}
<!-- {% url 'profiles:my-invites-view' as path_to_my_invites %}
{% url 'profiles:invite-profiles-view' as path_to_invites %}
{% url 'profiles:all-profiles-view' as path_to_all_profiles %} -->
{% load static %}


<!-- <style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <h2>Sidenav Push Example</h2>
  <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script> -->


<div class="ui inverted menu nav mb-7">
  <div class="ui container">
    <a href="{{path_to_home}}" class="{% if request.path == path_to_home %}active{% endif %} item">
        <!-- <img  class="ui avatar image"  src="{% static 'favicon.png' %}">    -->
        <h1> PMS </h1>
    </a>
    {% if request.user.is_authenticated %}
    <a href="{{path_to_dashboard}}" class="{% if request.path == path_to_dashboard %}active{% endif %} item">
        Dashboard
    </a>
    {% endif %}

    <div class="right menu">
        {% if request.user.is_authenticated %}
        <!-- <div class="item">
            <div class="ui floating dropdown icon button teal"> Friends
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{{path_to_all_profiles}}" class="{% if request.path == path_to_all_profiles %}active{% endif %} item">
                        All Profiles
                    </a>
                    <a href="{{path_to_invites}}" class="{% if request.path == path_to_invites %}active{% endif %} item">
                        Send Invites
                    </a>
                    <a href="{{path_to_my_invites}}" class="{% if request.path == path_to_my_invites %}active{% endif %} item">
                        Received Invites &nbsp; <div class="ui purple horizontal label">{{invites_num}}</div>
                    </a>
                </div>
             </div> -->
        </div>
            <!-- <div class="item">
            <form action="" method="GET">
                <div class="ui action left icon input">
                <input class="prompt" type="text" name='q' placeholder="Projects...">
                <i class="search icon"></i>
                <button type='submit' class="ui button">Search</button>
                </div>
            </form>
            </div> -->
        
            <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                <img src="{{picture.url}}" class="ui avatar image">&nbsp;
                {{ request.user }}
            </a>
            <button class="ui button"><a href="{{path_to_new_project}}" class=ui item>
                <i class="add icon"></i>
                New Project
            </a></button>
           <button class="ui button"> <a href="{% url 'account_logout' %}" class=ui item>
                Logout
            </a></button>
        {% else %}
            <button class="ui button"><a href="{{path_to_login}}" class=ui item>
                Login
            </a></button>
            <button class="ui button"><a href="{% url 'account_signup' %}" class=ui item>
                Register
            </a></button>
        {% endif %}
    </div>
  </div>
</div>